/.ApplicationMappingTest.java._trace
/.CPS2DepTest.java._trace
/.HostMappingTest.java._trace
/.StateMachineMappingTest.java._trace
/.StateMappingTest.java._trace
/.TransformationApiTest.java._trace
/ApplicationMappingTest.java
/CPS2DepTest.java
/HostMappingTest.java
/StateMachineMappingTest.java
/StateMappingTest.java
/TransformationApiTest.java
