<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.eclipse.incquery.examples.cps.xfrom.m2m.incr.qrt.queries.CpsXformM2M" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:org.eclipse.incquery.examples.cps.xfrom.m2m.incr.qrt.queries.CpsXformM2M" id="org.eclipse.incquery.examples.cps.xfrom.m2m.incr.qrt.queries.CpsXformM2M"/>
  </extension>
</plugin>
