<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.eclipse.incquery.examples.cps.xform.m2t.monitor.ModelChangeListenerQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:org.eclipse.incquery.examples.cps.xform.m2t.monitor.ModelChangeListenerQueries" id="org.eclipse.incquery.examples.cps.xform.m2t.monitor.ModelChangeListenerQueries"/>
  </extension>
</plugin>
