<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.incquery.examples.cps.viewpoint.Activator" id="org.eclipse.incquery.examples.cps.viewpoint" name="viewpoint"/>
  </extension>
  <extension id="org.eclipse.incquery.examples.cps.viewpoint.Patterns" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:org.eclipse.incquery.examples.cps.viewpoint.Patterns" id="org.eclipse.incquery.examples.cps.viewpoint.Patterns"/>
  </extension>
</plugin>
