<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.incquery.examples.cps.viewpoint.Activator" id="org.eclipse.incquery.examples.cps.viewpoint" name="viewpoint"/>
  </extension>
  <extension id="org.eclipse.incquery.examples.cps.viewpoint.Patterns" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:org.eclipse.incquery.examples.cps.viewpoint.Patterns" id="org.eclipse.incquery.examples.cps.viewpoint.Patterns"/>
  </extension>
  <extension id="org.eclipse.incquery.examples.cps.viewpoint.Cps" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:org.eclipse.incquery.examples.cps.viewpoint.Cps" id="org.eclipse.incquery.examples.cps.viewpoint.Cps"/>
  </extension>
  <extension id="org.eclipse.incquery.examples.cps.viewpoint.CpsGraph" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:org.eclipse.incquery.examples.cps.viewpoint.CpsGraph" id="org.eclipse.incquery.examples.cps.viewpoint.CpsGraph"/>
  </extension>
  <extension id="org.eclipse.incquery.examples.cps.viewpoint.CpsXformM2M" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:org.eclipse.incquery.examples.cps.viewpoint.CpsXformM2M" id="org.eclipse.incquery.examples.cps.viewpoint.CpsXformM2M"/>
  </extension>
</plugin>
