<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.eclipse.incquery.examples.cps.generator.queries.Validation" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:org.eclipse.incquery.examples.cps.generator.queries.Validation" id="org.eclipse.incquery.examples.cps.generator.queries.Validation"/>
  </extension>
  <extension id="org.eclipse.incquery.examples.cps.generator.queries.Queries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:org.eclipse.incquery.examples.cps.generator.queries.Queries" id="org.eclipse.incquery.examples.cps.generator.queries.Queries"/>
  </extension>
</plugin>
